[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlite3 = "*"
pandas = "*"
sqlalchemy = "*"
json = "*"

[requires]
python_version = "3.7"
